<div class="container">
<form class="group-search-section">
    <h3>Group Search Screen</h3>
    <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
        <div class="col-md-4 form-group">
            <label for="group1">Select by Group Name/Number</label>
            <select class="select-dropdown form-control" id="group1">
                <option value="By Group Name">By Group Name</option>
                <option value="By Group Number">By Group Number</option>
            </select>
        </div>
        <div class="col-md-4 form-group has-feedback">
            <label>Search by Group Name/Number</label>
            <div class="ng-autocomplete">
                <ng-autocomplete
                  [data]="groups"
                  [searchKeyword]="keyword"
                  placeHolder="Group Name/Number"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplate">
                </ng-autocomplete>
              
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                  <a [innerHTML]="item.id"></a>
                </ng-template>
            </div> 
        </div>
    </div>
    <button type="button" class="btn btn-success mt-4 mb-4" (click)="GroupSearch()">Search For Existing Group</button>
</form>
</div>