
<div class="container">
<form class="group-search-section" #search="ngForm" *ngIf="groupSearchSection">
    <h3>Group Search</h3>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-4 form-group">
            <label for="selectGrp">Select by Group Name/Number</label>
            <select class="select-dropdown form-control" id="selectGrp"
            name="selectGrp">
                <option selected value="By Group Number">By Group Number</option>
                <option value="By Group Name">By Group Name</option>
            </select>
        </div>
        <div class="col-md-4 form-group">
            <label>Search by Group Name/Number</label>
            <input type="text" class="form-control" id="searchBoxVal" name="searchBoxVal" 
            [(ngModel)]="searchBoxVal" (input)="onSearchChange($event.target.value)"
            placeholder="Search">
        </div>
      
    </div>
    <button type="button" class="btn btn-success mt-4 mb-4" [disabled]="disabledFlag" (click)="GroupSearch()">Search For Existing Group</button>
    <button type="button" class="btn btn-success mt-4 mb-4 ml-4" [disabled]="disabledFlag" (click)="navigateGrpScreen()">Add Group</button>
</form>
<div class="group-search-results" *ngIf="!groupSearchSection">
    <h3>Group Search Results</h3>
    <div *ngIf="existingGrp" style="margin-top: 5%;">
        <p>Existing Group Located</p>
        <p>Group Name: {{existingGrp.grpNm}}</p>
        <p>Group Number: {{existingGrp.grpNbr}}</p>
        <button type="button" class="btn btn-success mt-4 mb-4" (click)="goToSetup(existingGrp.grpNbr)">Go To Group Setup Screen</button>
        <button type="button" class="btn btn-success mt-4 mb-4 ml-4" (click)="goToSearch()">Back To Group Screen</button>
    </div>
    <div *ngIf="!existingGrp" style="margin-top: 5%;">
        <p>Existing Group not Located</p>
        <button type="button" class="btn btn-success mt-4 mb-4" (click)="goToSearch()">Back To Group Screen</button>
      
    </div>
</div>
</div>