<table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee SOH Questions</th>
        <th>Answer</th>
        <th>Spouse SOH Questions</th>
        <th>Answer</th>
        <th>Child SOH Questions</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
        <!-- First row-->
      <tr>
        <td>emp_question_1_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_1_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_1_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- Second row-->
      <tr>
        <td>emp_question_2_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_2_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_2_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
     <!--Third row-->
     <tr>
        <td>emp_question_3_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_3_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_3_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- Fourth row-->
      <tr>
        <td>emp_question_4_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_4_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_4_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- fifth row-->
      <tr>
        <td>emp_question_5_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_5_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_5_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- 6th row-->
      <tr>
        <td>emp_question_6_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_6_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_6_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- 7th row-->
      <tr>
        <td>emp_question_7_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_7_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_7_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- 8th row-->
      <tr>
        <td>emp_question_8_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_8_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_8_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- 9th row-->
      <tr>
        <td>emp_question_9_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_9_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_9_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- 10th row-->
      <tr>
        <td>emp_question_10_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>sp_question_10_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>ch1_question_10_answer</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!---->
      <tr>
          <td><app-radio-button></app-radio-button></td>
          <td></td>
          <td><app-radio-button></app-radio-button></td>
          <td></td>
          <td><app-radio-button></app-radio-button></td>
          <td></td>
      </tr>

    </tbody>
</table>
