<div class="container" style="width: 100%;">
  <form [formGroup]="accformgrp">
    <div class="row pb-2 " style="justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div><input type="radio" value="10002" formControlName="FCaccEffectiveDate_Action" />
          <label class="radio-label"> Always Override</label></div>
        <div><input type="radio" value="10001" formControlName="FCaccEffectiveDate_Action" />
          <label class="radio-label">Update if Blank</label></div>
        <div><input type="radio" value="10003" formControlName="FCaccEffectiveDate_Action" />
          <label class="radio-label">Validate</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Accident Effective Date</span>
        <input type="date"  [min]="minDate" formControlName="FCaccEffectiveDate" [(ngModel)]="minDate" class="form-control mb-2 " style="width: 100%;"
          placeholder="Group Effective Date">
  
      </div>
      <div class="radio-button">
        <div><input type="radio" value="10002" formControlName="FCaccSitusState_Action" />
          <label class="radio-label"> Always Override</label></div>
        <div><input type="radio" value="10001" formControlName="FCaccSitusState_Action" />
          <label class="radio-label">Update if Blank</label></div>
        <div><input type="radio" value="10003" formControlName="FCaccSitusState_Action" />
          <label class="radio-label">Validate</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Situs State</span>
        <select class="form-control" [value]="lookupValue" formControlName="FCaccSitusState">
          <!-- <option value="0" selected="selected">{{ lookupValue }}</option> -->
          <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates">
            {{lookUpDataSitusState.state}}</option>
  
        </select>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary" type="submit">Reset Form </button>
      </div>
    </div>
    <div class="row pb-2 " style="justify-content:space-evenly;">
      <div class="radio-button">
        <div><input type="radio" value="10002" formControlName="FCaccOnOff_Action" />
          <label class="radio-label"> Always Override</label></div>
        <div><input type="radio" value="10001" formControlName="FCaccOnOff_Action" />
          <label class="radio-label">Update if Blank</label></div>
        <div><input type="radio" value="10003" formControlName="FCaccOnOff_Action" />
          <label class="radio-label">Validate</label></div>
      </div>
      <div class="col-4">
        <span class="label">On or Off the Job</span>
        <select  class="form-control" formControlName="FCaccOnOff">
          <option *ngFor="let job of jobs" [ngValue]="job.name">
            {{ job.name }}
          </option>
        </select>
        <!-- <select class="form-control" formControlName="FCaccOnOff">
          <option selected>On and off the job</option>
          <option> Off the job only</option>
          <option>Both</option>
        </select> -->
      
      </div>
      <div class="radio-button">
        <div><input type="radio" value="10002" formControlName="FCaccRateLevel_Action" />
          <label class="radio-label"> Always Override</label></div>
        <div><input type="radio" value="10001" formControlName="FCaccRateLevel_Action" />
          <label class="radio-label">Update if Blank</label></div>
        <div><input type="radio" value="10003" formControlName="FCaccRateLevel_Action" />
          <label class="radio-label">Validate</label></div>
      </div>
      <div class="col-4 mb-2">
  
        <span class="label">
          Accident Rate Level
        </span>
        <select  class="form-control" formControlName="FCaccRateLevel">
          <option *ngFor="let names of Rate" [ngValue]="names.name">
            {{ names.name }}
          </option>
        </select>
      </div>
      
    </div>
    <div class="mt-4">
      <ng-content></ng-content>
     </div>
  </form>  
</div>



 




