<div class="container">
  <div class="row">
    <div class="col-3">
      <span class="label label-default">Date</span>
      <input type="date" [min] = "minDate" class="form-control mb-2 " style="width: 100%;" placeholder="Group Effective Date">

    </div>

    <div class="col-3">
      <span class="label"> Situs State</span>
      <select class="form-control" id="inlineFormCustomSelectPref">
        <option hidden disabled selected value> -- select Situs State -- </option>
        <option selected *ngFor="let lookUpDataSitusState of lookUpDataSitusStates">{{ lookUpDataSitusState }}</option>
      </select>
      <!-- <div *ngIf="lookupSitusState == ''">
        <span style="color: red;">  <small><strong>Select Situs State!</strong></small></span>
      </div> -->
    </div>
    <div class="col-3">
      <span class="label">On or Off the Job</span>
      <select class="form-control">
        <option selected>Text</option>
        <option>On the Job Only</option>
        <option >Off the Job Only</option>
      </select>
    
    </div>
  </div>
</div>
<div class="container">
  <div class="row">



    <div class="col-3 mb-2">
      <!-- <span class ="label label-default">
            <input class="mr-2" style="margin-top: 8px" type="checkbox">
            Accident Rate Level
          </span> -->
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="">
          Accident Rate Level
        </label>
      </div>

      <select class="form-control">
        <option selected value="option">1</option>
        <option value="option">2</option>
        <option value="option">3</option>
      </select>
    </div>

  </div>
  <app-agent-setup></app-agent-setup>
</div>
