<div class="container" style="width: 100%;" *ngIf="accidentData !== undefined">
  <form [formGroup]="accformgrp">
    <div class="row pb-2 " style="justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCaccEffectiveDate_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Accident Effective Date</span>   
        <input type="date" formControlName="FCaccEffectiveDate" class="form-control mb-2 " style="width: 100%;"
          placeholder="Group Effective Date">  
  
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCaccSitusState_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Situs State</span>
        <select class="form-control"  formControlName="FCaccSitusState">
          <!-- <option hidden disabled selected value> -- select Situs State -- </option> -->
          <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates"  [selected]="lookUpDataSitusState.id == lookupValue" 
          value={{lookUpDataSitusState.id}}>
            {{lookUpDataSitusState.state}}</option>
        </select>
      </div>              
      <div class="mt-4">
        <button class="btn btn-primary" (click)= "resetAcc()"type="submit">Reset Form </button>
      </div>
    </div>
    <div class="row pb-2 " style="justify-content:space-evenly;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCaccOnOff_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4">
        <span class="label">On or Off the Job</span>
        <select  class="form-control" formControlName="FCaccOnOff">
          <option *ngFor="let job of jobs" value={{job.abbrev}}> 
            {{ job.name }}
          </option>
        </select>
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCaccRateLevel_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4 mb-2">
  
        <span class="label">
          Accident Rate Level
        </span>
        <select  class="form-control" formControlName="FCaccRateLevel">
          
          <option *ngFor="let names of Rate" [ngValue]="names.abb">
            {{ names.no }} 
          </option>
        </select>
      </div>
      
    </div>

    <div class="row pb-2 " style="justify-content:space-evenly;padding-left: 13px;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FcaccChildName_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-2">
        <input type="checkbox"  formControlName="FcaccChildName" [checked]=true> Child Name
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FcaccChildDOB_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <input type="checkbox" formControlName="FcaccChildDOB" [checked]=true> Child Date of Birth
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FcaccChildGender_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-2">
        <input type="checkbox" formControlName="FcaccChildGender" [checked]=true> Child Gender
      </div>
    </div>

    <div class="mt-4">
      <ng-content></ng-content>
     </div>
  </form>  
</div>



 




