<div class="d-flex justify-content-center" *ngIf="!isLoading">
  <div class="spinner-border" style="width: 8rem; height: 8rem; color: #ff6363; margin-top: 15%;">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container" *ngIf="isLoading">
  <div class="row">
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary mt-4 mb-4" (click)="onSubmit()">New Add
      </button>
    </div>
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary mt-4 mb-4 disabled" (click)="onSubmit()">Edit Existing
      </button>
    </div>
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary mt-4 mb-4 disabled" (click)="onSubmit()">Clone Group
      </button>
    </div>
    <div class="form-group col-md-3 mt-4 mb-4">
      <mat-slide-toggle [(ngModel)]="isChecked" (change)="toggleChange($event)" [color]="toggleActiveColor">
        {{checkedToggle}}</mat-slide-toggle>
    </div>
  </div>

  <!-- Group Section -->


  <div class="row">
    <div class="form-group col-md-3">
      <span class="label label-default">Group Number<span aria-hidden="true" class="required">*</span></span>
      <input type="text" maxlength="5" name="name" #name="ngModel" class="form-control" [(ngModel)]="groupNumber"
        style="width: 100%;" placeholder="Group Number Field" required onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <small *ngIf="name.errors.required" style="color: red;">Group Number is required!</small>
      </div>
    </div>
    <div class="form-group col-md-3">
      <span class="label label-default">Group Name<span aria-hidden="true" class="required">*</span></span>
      <input type="text" class="form-control" name="grpname" ngModel #grpname="ngModel" [(ngModel)]="groupName"
        style="width: 100%;" placeholder="Group Name Field" required>
      <div *ngIf="grpname.touched">
        <small *ngIf="grpname.errors?.required" style="color: red;">Group Name is required!</small>
      </div>
    </div>
    <div class="form-group col-md-3" [formGroup]="groupSetupFG">
      <span class="label label-default">Group effective date<span aria-hidden="true" class="required">*</span></span>
      <input type="date"  formControlName="fcEffDate" class="form-control"
        [(ngModel)]="minDate" style="width: 100%;" placeholder="Group Effective Date">
    </div>
    <div class="form-group col-md-3">
      <span class="label label-default">Group Payment Mode<span aria-hidden="true" class="required">*</span></span>
      <select class="select-dropdown" #paymentMode [(ngModel)]="grpPymn" (change)="getLookupValuePaymentMode($event.target.value)">
        <!-- <option hidden disabled selected value> -- select a Payment Mode -- </option> -->
        <option *ngFor="let each of paymentModes" [selected]="each.grpPymn == '10007'" value="{{each.grpPymn}}">
          {{each.grpPymntMdNm}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3">
      <span class="label label-default">Group Vendor<span aria-hidden="true" class="required">*</span></span>
      <input type="text" class="form-control" name=vendorname ngModel #vendorname="ngModel"
        [(ngModel)]="EnrolmentPatnerName" placeholder="Group Vendor Name" required onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
      <div *ngIf="vendorname.touched">
        <small *ngIf="vendorname.errors?.required" style="color: red;">Vendor Name is required!</small>
      </div>
    </div>

    <div class="form-group col-md-3">
      <span class="label label-default">Group Vendor Email<span aria-hidden="true" class="required">*</span></span>
      <input type="email" [(ngModel)]="EnrolEmailAddress" name="email" ngModel #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required class="form-control"
        placeholder=" Group Vendor Email">
      <div *ngIf="email.touched">
        <small *ngIf="email.errors?.required" style="color: red;">Email is a required field!</small>
        <small *ngIf="email.errors?.pattern" style="color: red;">This is not a valid Email!!!</small>
      </div>


    </div>

    <div class="col-md-3" [formGroup]="groupSetupOCC">
      <div>
        <span class="label label-default">Occupation Class<span aria-hidden="true" class="required">*</span></span>
        <select class="select-dropdown" formControlName="FCOccControl" [(ngModel)]="occupationArray">
          <option *ngFor="let item of occClass" value={{item.id}}>{{item.occupation}}</option> 
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class=" col-md-3">
      <span class="label label-default">Account Manager Name<span aria-hidden="true" class="required">*</span></span>
      <input type="text" class="form-control" name="accountmanager" ngModel #accountmanager="ngModel"
        [(ngModel)]="ManegerName" placeholder="Account Manager Name" required onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
      <div *ngIf="accountmanager.touched">
        <small *ngIf="accountmanager.errors?.required" style="color: red;">Account Manager Name is required!</small>
      </div>
    </div>
    <div class="col-md-3">
      <span class="label label-default">Account Manager Email<span aria-hidden="true" class="required">*</span></span>
      <input type="email" name="Accountemail" ngModel #Accountemail="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required class="form-control" [(ngModel)]="ManagerEmail"
        placeholder="Account Manager Email">
      <div *ngIf="Accountemail.touched">
        <small *ngIf="Accountemail.errors?.required" style="color: red;">Email is a required field!</small>
        <small *ngIf="Accountemail.errors?.pattern" style="color: red;">This is not a valid Email!!!</small>
      </div>
    </div>
    <div class="col-md-3">
      <span class="label label-default">Situs State<span aria-hidden="true" class="required">*</span></span>
      <select class="select-dropdown my-1" #situsState [(ngModel)]="selected.state" (change)="getLookupValueSitusState(situsState.value)">
        <!-- <option hidden disabled selected value> -- select Situs State -- </option> -->
        <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates" value={{lookUpDataSitusState.state}}>
          {{ lookUpDataSitusState.state }}
        </option>
      </select>
    </div>
  </div>


  <div>

    <form class="agent-form" [formGroup]="agentformgrp"  *ngIf="groupsData !== undefined">
      <!-- first-row -->
      <div class="row" style="justify-content:space-evenly;">
        <div class="col-md-3">
          <span class="label label-default">Agent Number</span>
          <input type="text" formControlName="AgentNumber" [(ngModel)]="agentNumber_0" name="text" (change)="changeAgNum0($event.target.value)"
            class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')" >
        </div>
        <div class="col-md-3">
          <span class="label label-default">Agent SubCount</span>
          <input type="text" formControlName="AgentSubCount" [(ngModel)]="agentSubCount_0" class="form-control mb-2" (change)="changeAgSub0($event.target.value)"
            style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')" >
        </div>
        <div class="col-md-3">
          <span class="label label-default">Commisson Split %</span>
          <input type="text" formControlName="CommissonSplit" [(ngModel)]="agentCommissionSPlit_0" (change)="changeAgComSpl0($event.target.value)"
            class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')" >
          <div *ngIf="agentformgrp.get('CommissonSplit').value > 100">
            <small style="color: #ff6363;">Commonsplit Value Cannot Be More Than 100</small>
          </div>
        </div>

        <div class="col-md-3">
          <span class="label label-default">Agent Name</span>
          <input type="text" formControlName="AgentName" [(ngModel)]="agent_name" class="form-control mb-2 " (change)="changeAgNm0($event.target.value)"
            style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
        </div>
      </div>

      <!-- second-row -->
      <div class="row">
        <div class="col-md-3">
          <input type="text" formControlName="AgentNumber1" [(ngModel)]="agentNumber_1" class="form-control mb-2" (change)="changeAgNum1($event.target.value)"
            style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="AgentSubCount1" [(ngModel)]="agentSubCount_1" class="form-control mb-2"  (change)="changeAgSub1($event.target.value)"
            style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="CommissonSplit1" [(ngModel)]="agentCommissionSPlit_1"  (change)="changeAgComSpl1($event.target.value)"
            class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          <div *ngIf="agentformgrp.get('CommissonSplit1').value > 100">
            <small style="color: #ff6363;">Commonsplit Value Cannot Be More Than 100</small>
          </div>
        </div>

      </div>
      <!-- 3rd-row -->
      <div class="row">
        <div class="col-md-3">
          <input type="text" formControlName="AgentNumber2" [(ngModel)]="agentNumber_2" class="form-control mb-2" (change)="changeAgNum2($event.target.value)"
            style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="AgentSubCount2" [(ngModel)]="agentSubCount_2" class="form-control mb-2" (change)="changeAgSub2($event.target.value)"
            style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="CommissonSplit2" [(ngModel)]="agentCommissionSPlit_2" (change)="changeAgComSpl2($event.target.value)"
            class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          <div *ngIf="agentformgrp.get('CommissonSplit2').value > 100">
            <small style="color: #ff6363;">Commonsplit Value Cannot Be More Than 100</small>
          </div>
        </div>

      </div>
      <!-- 4th-row -->
      <div class="row">
        <div class="col-md-3">
          <input type="text" formControlName="AgentNumber3" [(ngModel)]="agentNumber_3" class="form-control mb-2" (change)="changeAgNum3($event.target.value)"
            style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="AgentSubCount3" [(ngModel)]="agentSubCount_3" class="form-control mb-2" (change)="changeAgSub3($event.target.value)"
            style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="CommissonSplit3" [(ngModel)]="agentCommissionSPlit_3" (change)="changeAgComSpl3($event.target.value)"
            class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          <div *ngIf="agentformgrp.get('CommissonSplit3').value > 100">
            <small style="color: #ff6363;">Commonsplit Value Cannot Be More Than 100</small>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="container"  *ngIf="groupsData !== undefined">
    <div id="accordion" class="accordion">
      <div class="card mt-2" style="cursor: pointer;">
        <div class="card-header collapsed mb-2" data-toggle="collapse" href="#collapseOne">
          <a class="card-title">
            FPPG
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedFppg" (change)="toggleChangeProductFppg($event)"
            [color]="toggleActiveColor">
            {{checkedToggleProductFppg}}</mat-slide-toggle>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">

          <app-fppg [lookupValue]="selected.state" #child0 [dateValue]="dateChange">
           
            <form class="agent-form" [formGroup]="agentformgrp">
              <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                <div><input type="radio" value={{item.value}} formControlName="fppgAgent_Action" />
                  <label class="radio-label"> {{item.name}}</label></div>
              </div>
              <!-- first-row -->
              <div class="row" style="justify-content:space-evenly;">
                <div class="col-md-3">
                  <span class="label label-default">Agent Number</span>
                  <input type="text" formControlName="AgentNumberfppg" name="text"
                    class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <span class="label label-default">Agent SubCount</span>
                  <input type="text" formControlName="AgentSubCountfppg"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <span class="label label-default">Commisson Split %</span>
                  <input type="text" formControlName="CommissonSplitfppg"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

                <div class="col-md-3">
                  <span class="label label-default">Agent Name</span>
                  <input type="text" formControlName="AgentNamefppg" class="form-control mb-2 "
                    style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                </div>
              </div>

              <!-- second-row -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" formControlName="AgentNumber1fppg" class="form-control mb-2"
                    style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="AgentSubCount1fppg"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount " onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="CommissonSplit1fppg"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
              <!-- 3rd-row -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" formControlName="AgentNumber2fppg" class="form-control mb-2"
                    style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="AgentSubCount2fppg"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="CommissonSplit2fppg"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
              <!-- 4th-row -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" formControlName="AgentNumber3fppg" class="form-control mb-2"
                    style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="AgentSubCount3fppg"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="CommissonSplit3fppg"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
            </form>

          </app-fppg>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <a class="card-title">
            FPP Individual
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedFppInd"
            (change)="toggleChangeProductFppIndivisual($event)" [color]="toggleActiveColor">
            {{checkedToggleProductFppi}}</mat-slide-toggle>
        </div>
        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">

          <app-fpp-individual [lookupValue]="selected.state" #child1 [dateValue]="dateChange">
            <form class="agent-form" [formGroup]="agentformgrp">
              <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                <div><input type="radio" value={{item.value}} formControlName="fppiAgent_Action" />
                  <label class="radio-label"> {{item.name}}</label></div>
              </div>
              <!-- first-row -->
              <div class="row" style="justify-content:space-evenly;">
                <div class="col-md-3">
                  <span class="label label-default">Agent Number</span>
                  <input type="text" formControlName="AgentNumberFppIndivisual" name="text"
                    class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <span class="label label-default">Agent SubCount</span>
                  <input type="text" formControlName="AgentSubCountFppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <span class="label label-default">Commisson Split %</span>
                  <input type="text" formControlName="CommissonSplitFppIndivisual"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

                <div class="col-md-3">
                  <span class="label label-default">Agent Name</span>
                  <input type="text" formControlName="AgentNameFppIndivisual"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                </div>
              </div>

              <!-- second-row -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" formControlName="AgentNumber1FppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="AgentSubCount1FppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="CommissonSplit1FppIndivisual"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
              <!-- 3rd-row -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" formControlName="AgentNumber2FppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="AgentSubCount2FppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="CommissonSplit2FppIndivisual"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
              <!-- 4th-row -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" formControlName="AgentNumber3FppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="AgentSubCount3FppIndivisual"
                    class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>
                <div class="col-md-3">
                  <input type="text" formControlName="CommissonSplit3FppIndivisual"
                    class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                </div>

              </div>
            </form>
          </app-fpp-individual>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <a class="card-title">
            Accident
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedAccident"
            (change)="toggleChangeProductAccident($event)" [color]="toggleActiveColor">
            {{checkedToggleProductACCident}}</mat-slide-toggle>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">

            <app-accident [lookupValue]="selected.state" #child2 [dateValue]="dateChange">
              <form class="agent-form" [formGroup]="agentformgrp">
                <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                  <div><input type="radio" value={{item.value}} formControlName="accAgent_Action" />
                    <label class="radio-label"> {{item.name}}</label></div>
                </div>
                <!-- first-row -->
                <div class="row" style="justify-content:space-evenly;">
                  <div class="col-md-3">
                    <span class="label label-default">Agent Number</span>
                    <input type="text" formControlName="AgentNumberaccident" name="text"
                      class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Agent SubCount</span>
                    <input type="text" formControlName="AgentSubCountaccident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Commisson Split %</span>
                    <input type="text" formControlName="CommissonSplitaccident"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">Agent Name</span>
                    <input type="text" formControlName="AgentNameaccident"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                  </div>
                </div>

                <!-- second-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber1accident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount1accident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit1accident"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 3rd-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber2accident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount2accident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit2accident"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 4th-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber3accident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount3accident"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit3accident"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
              </form>
            </app-accident>
          </div>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <a class="card-title">
            Hospital Indemnity
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedHospital"
            (change)="toggleChangeProductHospitalIndemnity($event)" [color]="toggleActiveColor">
            {{checkedToggleProductHospitalIndemnity}}</mat-slide-toggle>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <app-hospital-indemnity [lookupValue]="selected.state" #child3 [dateValue]="dateChange">
              <form class="agent-form" [formGroup]="agentformgrp">
                <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                  <div><input type="radio" value={{item.value}} formControlName="hospAgent_Action" />
                    <label class="radio-label"> {{item.name}}</label></div>
                </div>
                <!-- first-row -->
                <div class="row" style="justify-content:space-evenly;">
                  <div class="col-md-3">
                    <span class="label label-default">Agent Number</span>
                    <input type="text" formControlName="AgentNumberHospitalIndemnity"
                      name="text" class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Agent SubCount</span>
                    <input type="text" formControlName="AgentSubCountHospitalIndemnity"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Commisson Split %</span>
                    <input type="text" formControlName="CommissonSplitHospitalIndemnity"
                       class="form-control mb-2 " style="width: 100%;"
                      placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">Agent Name</span>
                    <input type="text" formControlName="AgentNameHospitalIndemnity"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                  </div>
                </div>

                <!-- second-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber1HospitalIndemnity"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount1HospitalIndemnity"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit1HospitalIndemnity"
                       class="form-control mb-2 " style="width: 100%;"
                      placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 3rd-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber2HospitalIndemnity" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount2HospitalIndemnity"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit2HospitalIndemnity"
                       class="form-control mb-2 " style="width: 100%;"
                      placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 4th-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber3HospitalIndemnity" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount3HospitalIndemnity"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit3HospitalIndemnity"
                      class="form-control mb-2 " style="width: 100%;"
                      placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
              </form>
            </app-hospital-indemnity>
          </div>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <a class="card-title">
            Employer Paid CI
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedEmpPaidCi"
            (change)="toggleChangeProductEmpPaidCi($event)" [color]="toggleActiveColor">
            {{checkedToggleProductEmpPaidCI}}</mat-slide-toggle>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <app-employer-paid-ci [lookupValue]="selected.state" #child4 [dateValue]="dateChange">
              <form class="agent-form" [formGroup]="agentformgrp">
                <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                  <div><input type="radio" value={{item.value}} formControlName="empCIAgent_Action" />
                    <label class="radio-label"> {{item.name}}</label></div>
                </div>
                <!-- first-row -->
                <div class="row" style="justify-content:space-evenly;">
                  <div class="col-md-3">
                    <span class="label label-default">Agent Number</span>
                    <input type="text" formControlName="AgentNumberempPaidci" name="text"
                      class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Agent SubCount</span>
                    <input type="text" formControlName="AgentSubCountempPaidci" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Commisson Split %</span>
                    <input type="text" formControlName="CommissonSplitempPaidci"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">Agent Name</span>
                    <input type="text" formControlName="AgentNameempPaidci"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                  </div>
                </div>

                <!-- second-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber1empPaidci"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount1empPaidci"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit1empPaidci"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 3rd-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber2empPaidci"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount2empPaidci"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit2empPaidci"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 4th-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber3empPaidci"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount3empPaidci"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit3empPaidci"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
              </form>
            </app-employer-paid-ci>
          </div>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          <a class="card-title">
            Voluntary CI
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedVolutaryCi"
            (change)="toggleChangeProductVolCI($event)" [color]="toggleActiveColor">
            {{checkedToggleProductVolCI}}</mat-slide-toggle>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <app-voluntary-ci [lookupValue]="selected.state" #child5 [dateValue]="dateChange">
              <form class="agent-form" [formGroup]="agentformgrp">
                <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                  <div><input type="radio" value={{item.value}} formControlName="volCIAgent_Action" />
                    <label class="radio-label"> {{item.name}}</label></div>
                </div>
                <!-- first-row -->
                <div class="row" style="justify-content:space-evenly;">
                  <div class="col-md-3">
                    <span class="label label-default">Agent Number</span>
                    <input type="text" formControlName="AgentNumbervolCi" name="text"
                      class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Agent SubCount</span>
                    <input type="text" formControlName="AgentSubCountvolCi"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Commisson Split %</span>
                    <input type="text" formControlName="CommissonSplitvolCi"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">Agent Name</span>
                    <input type="text" formControlName="AgentNamevolCi"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                  </div>
                </div>

                <!-- second-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber1volCi" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount1volCi" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit1volCi" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 3rd-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber2volCi"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount2volCi"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit2volCi"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 4th-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber3volCi"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount3volCi"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit3volCi"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
              </form>
            </app-voluntary-ci>
          </div>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          <a class="card-title">
            Vol Group Life
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedVolGrpLife"
            (change)="toggleChangeProductVilGrpLife($event)" [color]="toggleActiveColor">
            {{checkedToggleProductVolGrpCI}}</mat-slide-toggle>
        </div>
        <div id="collapseSeven" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <app-vol-group-life [lookupValue]="selected.state" #child6 [dateValue]="dateChange">
              <form class="agent-form" [formGroup]="agentformgrp">
                <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                  <div><input type="radio" value={{item.value}} formControlName="volGrpLfAgent_Action" />
                    <label class="radio-label"> {{item.name}}</label></div>
                </div>
                <!-- first-row -->
                <div class="row" style="justify-content:space-evenly;">
                  <div class="col-md-3">
                    <span class="label label-default">Agent Number</span>
                    <input type="text" formControlName="AgentNumberVolGrpLife" name="text"
                      class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Agent SubCount</span>
                    <input type="text" formControlName="AgentSubCountVolGrpLife"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Commisson Split %</span>
                    <input type="text" formControlName="CommissonSplitVolGrpLife"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">Agent Name</span>
                    <input type="text" formControlName="AgentNameVolGrpLife"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                  </div>
                </div>

                <!-- second-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber1VolGrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount1VolGrpLife"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit1VolGrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 3rd-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber2VolGrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount2VolGrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit2VolGrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 4th-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber3VolGrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount3VolGrpLife"
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit3VolGrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
              </form>
            </app-vol-group-life>
          </div>
        </div>
        <div class="card-header collapsed mb-2" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          <a class="card-title">
            Basic Group Life
          </a>
          <mat-slide-toggle style="float: right;" (click)="$event.stopPropagation()" [(ngModel)]="isCheckedBasicGrpLife"
            (change)="toggleChangeProductBasicGrpLife($event)" [color]="toggleActiveColor">
            {{checkedToggleProductBcsGrpLife}}</mat-slide-toggle>
        </div>
        <div id="collapseEight" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <app-basic-group-life [lookupValue]="selected.state" #child7 [dateValue]="dateChange">
              <form class="agent-form" [formGroup]="agentformgrp">
                <div class="radio-button" style="display: inline-block;padding-left: 5px;" *ngFor="let item of radioButtonArr">
                  <div><input type="radio" value={{item.value}} formControlName="basicGrpLfAgent_Action" />
                    <label class="radio-label"> {{item.name}}</label></div>
                </div>
                <!-- first-row -->
                <div class="row" style="justify-content:space-evenly;">
                  <div class="col-md-3">
                    <span class="label label-default">Agent Number</span>
                    <input type="text" formControlName="AgentNumberBasicgrpLife" name="text"
                      class="form-control mb-2" style="width: 100%;" placeholder="Primary Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Agent SubCount</span>
                    <input type="text" formControlName="AgentSubCountBasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <span class="label label-default">Commisson Split %</span>
                    <input type="text" formControlName="CommissonSplitBasicgrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">Agent Name</span>
                    <input type="text" formControlName="AgentNameBasicgrpLife"
                      class="form-control mb-2 " style="width: 100%;" placeholder="Agent Name" onkeyup="this.value=this.value.replace(/[^a-zA-Z]/,'')">
                  </div>
                </div>

                <!-- second-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber1BasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount1BasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit1BasicgrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 3rd-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber2BasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount2BasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit2BasicgrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
                <!-- 4th-row -->
                <div class="row">
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentNumber3BasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent Number" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="AgentSubCount3BasicgrpLife" 
                      class="form-control mb-2" style="width: 100%;" placeholder="Agent SubCount" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>
                  <div class="col-md-3">
                    <input type="text" formControlName="CommissonSplit3BasicgrpLife" 
                      class="form-control mb-2 " style="width: 100%;" placeholder="Commisson Split" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                  </div>

                </div>
              </form>
            </app-basic-group-life>
          </div>
        </div>

      </div>

    </div>
  </div>
  <button type="submit" class="btn btn-success mt-4 mb-4" style="float: right;"
    (click)="onSubmit()">Submit Group
    Setup Information</button>

</div>