#container{
    min-height: 100%;
}
#main{
    overflow: auto;
    padding-bottom: 100px;
}
.select-dropdown {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.mat-form-field-infix {
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem 1.75rem .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
}
/* .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}


body {
background-color: #26a69a;
}

.demo {
padding-top: 60px;
padding-bottom: 60px;
} */

.accordion .card-header:after {
    font-family: 'FontAwesome' ;  
    content: "\f068" ;
    float: left;
    padding-right: 10px; 
  }
  .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
  }

   
 

  .accordion .card-header{
      background-color: #cff6cf;
  }
  .accordion .card-header.collapsed{
    background-color: #cfe5cf
}

.required {
    color: red;
  }

  .borderBlue {
      border: 1px solid #1861ac;
  }
  
  input.ng-invalid.ng-touched{
      border: 1px solid red;
  }


