<div class="group-setup-section" style="overflow-y: auto;">
<h3 class="text-muted">Group Setup Screen</h3>


   
        <form class="form-inline">
           
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Group Number Field (5 
            Alpha numeric characters)">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Group Name Field">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Group Effective Date">
           
          </form>
          <form class="form-inline">
           
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Group Vendor Name">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Group Vendor Email Address">
          
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="1">Group Payment Mode</option>
               
              </select>
           
          </form>

          <form class="form-inline">
           
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Account Manager Name">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Account Manager Email 
            Address">
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Choose...</option>
                <option value="1">Group Level Situs State</option>
               
              </select>
           
          </form>






<form [formGroup]="myForm">
   
    <!-- <button (click)="addGroups()"  class="btn btn-primary mb-4">Add Group</button> -->
    <mat-form-field appearance="fill">
      <mat-label>Select Products</mat-label>
      <mat-select (selectionChange)="selectedProducts($event.value)">
        <mat-option value="Accident">Accident</mat-option>
        <mat-option value="FPPG">FPPG</mat-option>
        <mat-option value="FPP Individual">FPP Individual</mat-option>
        <mat-option value="Hospital Indemnity">Hospital Indemnity</mat-option>
        <mat-option value="Vol Group Life">Vol Group Life</mat-option>
        <mat-option value="Voluntary CI">Voluntary CI</mat-option>
        <mat-option value="Employer Paid CI">Employer Paid CI</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button (click)="addProducts()" style="margin-left: 20px;color:#fff;background-color: #428bca!important;
    border-color: #428bca;"><mat-icon>add</mat-icon> Add Products</button>
      
    <div *ngIf="accidentProductSelected">
     <div style="float:left"> <mat-icon (click)="deleteAccident()" style="color:#000;cursor:pointer;">close</mat-icon> </div>
      <app-accident></app-accident>
    </div>
    <div *ngIf="fppgProductSelected">
      <div style="float:left"> <mat-icon (click)="deleteAccident()" style="color:#000;cursor:pointer;">close</mat-icon> </div>
       <app-fppg></app-fppg>
     </div>
     <div *ngIf="fppgIndivProductSelected">
      <div style="float:left"> <mat-icon (click)="deleteAccident()" style="color:#000;cursor:pointer;">close</mat-icon> </div>
       <app-fpp-individual></app-fpp-individual>
     </div>
     <div *ngIf="hospProductSelected">
      <div style="float:left"> <mat-icon (click)="deleteAccident()" style="color:#000;cursor:pointer;">close</mat-icon> </div>
       <app-hospital-indemnity></app-hospital-indemnity>
     </div>
</form>

<button type="button" class="btn btn-success">Submit Group 
    Setup Information</button>
  </div>