.accordion .card-header:after {
    font-family: 'FontAwesome' ;  
    content: "\f068" ;
    float: left;
    padding-right: 10px; 
  }
  .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
  }
  .accordion .card-header{
      background-color: #cff6cf;
  }
  .accordion .card-header.collapsed{
    background-color: #cfe5cf
}
table {
    width: 100%;
  }
  


  .select-dropdown {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    height: 40px;
  }
  
.required {
  color: red;
}