<div class="container">
    <div class="row">
        <div class="col-md-4 form-group">
            <span class="label label-default">Group Number<span aria-hidden="true" class="required">*</span></span>
            <input type="text" class="form-control" [(ngModel)]="grpNbr" placeholder="Enter Group Number" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d]/,'')" >
            <div *ngIf="grpNbrEmpty" style="color: red;">Group Number is required</div>
            <div *ngIf="grpNbrErr" style="color: red;">Group Number should be 5 digits</div>
        </div>
        <div class="col-md-4" style="margin-top: 23px;">
            <button class="btn btn-primary" type="submit" (click)="getQuestionsByGrp()">Submit</button>
        </div>
    </div>  
    <div id="accordion" class="accordion">
        <div class="card mt-2" style="cursor: pointer;">
            <div class="card-header collapsed mb-2" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                    FPPG
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
               <app-fppg-questions></app-fppg-questions>
            </div>
        </div>
    </div>
    <!-- 2nd Product -->
    <div id="accordion" class="accordion">
        <div class="card mt-2" style="cursor: pointer;">
            <div class="card-header collapsed mb-2" data-toggle="collapse" href="#collapseTwo">
                <a class="card-title">
                    FPP Individual
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
               <app-fppi-questions></app-fppi-questions>
            </div>
        </div>
    </div>
    <!-- 3rd Product -->
    <div id="accordion" class="accordion">
        <div class="card mt-2" style="cursor: pointer;">
            <div class="card-header collapsed mb-2" data-toggle="collapse" href="#collapseThree">
                <a class="card-title">
                    Vol Group Life
                </a>
            </div>
            <div id="collapseThree" class="card-body collapse" data-parent="#accordion">
               <app-vol-group-life-questions></app-vol-group-life-questions>
            </div>
        </div>
    </div>
    <!-- 4th Product -->
    <div id="accordion" class="accordion">
        <div class="card mt-2" style="cursor: pointer;">
            <div class="card-header collapsed mb-2" data-toggle="collapse" href="#collapseFour">
                <a class="card-title">
                    Basic Group Life
                </a>
            </div>
            <div id="collapseFour" class="card-body collapse" data-parent="#accordion">
               <app-basic-group-life-questions></app-basic-group-life-questions>
            </div>
        </div>
    </div>
    <!-- 5th Product -->
    <div id="accordion" class="accordion">
        <div class="card mt-2" style="cursor: pointer;">
            <div class="card-header collapsed mb-2" data-toggle="collapse" href="#collapseFive">
                <a class="card-title">
                    Voluntary CI
                </a>
            </div>
            <div id="collapseFive" class="card-body collapse" data-parent="#accordion">
               <app-voluntary-ci-questions></app-voluntary-ci-questions>
            </div>
        </div>
    </div>
</div>