<div class="container" *ngIf="fppgData !== undefined">


  <form [formGroup]="fppgformgrp">
    <div class="row" style="justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"> <input type="radio" value={{item.value}} formControlName="FCfppgEffectiveDate_Action"/>
          <label class="radio-label"> {{item.name}}</label></div>
      </div>

      <div class="col-3">
        <span class="label label-default">FPPG Effective Date</span> 
        <input type="date" formControlName="FCfppgEffectiveDate" class="form-control mb-2 " style="width: 100%;"
          placeholder="Group Effective Date">
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgSitusState_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Situs State</span>
        <select class="form-control" formControlName="FCfppgSitusState">
          <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates"  value={{lookUpDataSitusState.id}} [selected]="lookUpDataSitusState.id==fppgSitus"
          >
            {{lookUpDataSitusState.state}}</option>

        </select>

      </div>
      <div class="mt-4" style="justify-content:space-evenly;">
        <button class="btn btn-primary" [disabled] = resetFlag type="submit" (click)="restForm()">Reset Form </button>
      </div>
    </div>


    <div class="row mt-4" style="justify-content:space-evenly;margin-right: 7%;">

      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgEmpAmtMax_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">

        <span class="label label-default">Employee GI Amount Max($)</span>

        <input type="text" formControlName="FCfppgEmpGIAmtMax" class="form-control mb-2 " style="width: 100%;"
          placeholder="Employee GI Amount Max" required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>



      <div class="col-3">
        <span class="label label-default">Employee QI Amount Max($)</span>

        <input type="text" formControlName="FCfppgEmpQIAmtMax" class="form-control mb-2 " style="width: 100%;"
          placeholder="Employee QI Amount Max" required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
      <div class="col-3">
        <span class="label label-default">Employee SI Max Amount($)</span>
        <input type="text" class="form-control mb-2" formControlName="FCfppgEmpAmtMax" style="width: 100%;"
          placeholder="Employee Max Amount" required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>

    </div>

    <div class="row mt-4" style="justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgSpouseAmtMax_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Spouse GI Amount Max($)</span>

        <input type="text" formControlName="FCfppgSpouseGIAmtMax" class="form-control mb-2 " style="width: 100%;"
          placeholder="Spouse GI Amount Max
           "required
           onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
      <div class="col-3">
        <span class="label label-default">Spouse QI Amount Max($)</span>
        <input type="text" formControlName="FCfppgSpouseQIAmtMax" class="form-control mb-2 " style="width: 100%;"
          placeholder="Spouse QI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
      <div class="col-3">
        <span class="label label-default">Spouse Max Amount($)</span>
        <input type="text" formControlName="FCfppgSpouseMaxAmt" class="form-control mb-2 " style="width: 100%;"
          placeholder="Spouse Max Amount"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>

    </div>
    <div class="row mt-4" style="justify-content: space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgPlanCodeManualEntry_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Employee Plan code </span>
        <input type="text" formControlName="FCfppgEmpPlanCode" class="form-control mb-2 " style="width: 100%;"
          placeholder="Employee Plan code">
      </div>

      <div class="col-3">
        <span class="label label-default">Spouse Plan code</span>
        <input type="text" formControlName="FCfppgSpousePlanCode" class="form-control mb-2 " style="width: 100%;"
          placeholder="Spouse Plan code">
      </div>

      <div class="col-3">
        <span class="label label-default">Child Plan code </span>
        <input type="text" formControlName="FCfppgChildPlanCode" class="form-control mb-2 " style="width: 100%;"
          placeholder=" Child Plan code ">
      </div>
    </div>

    <!-- <div class="row mt-4" style="margin-left: 1%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgOpenEnrollGI_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3" style="margin-left: 1%;">

        <span class="label label-default">Open Enrollment GI</span>
        <input type="text" formControlName="FCfppgOpenEnrollGI" class="form-control mb-2 " style="width: 100%;"
          placeholder="Open Enrollment GI">
      </div>

    </div> -->

    <div class="row pt-2 pl-4">
      <h6>
        Riders
      </h6>
    </div>
    <div class="row mt-2" style="justify-content:space-evenly;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgQolRiders_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4">
        <div class="row" style="justify-content:space-evenly;">
          <div class="col" style="margin-left: -16px;">
          </div>
          <div class="col" style="justify-content:flex-start;margin-right: 170px;
           margin-top: 24px;">
            <mat-checkbox class="example-margin" formControlName="FCfppgQolRiders" (change) = "onQolChecked($event)" name="Qol">QOL
              Rider</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppgWaiver_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4">
        <div class="row" style="justify-content:space-evenly;">
          <div class="col">
          </div>
          <div class="col" style="margin-top: 24px;">
            <mat-checkbox class="margin" formControlName="FCfppgWaiver" (change)="onWaiverChecked($event)" name="Waiver">Waiver
            </mat-checkbox>
          </div>
        </div>
      </div>

    </div>
    <div class="mt-4">
      <ng-content></ng-content>
    </div>
  </form>
</div>
