<div class="container" style="width: 100%;">

  <form>
    <div class="row" style="justify-content: flex-end;">
      <button class="btn btn-secondary" type="submit">Reset Form </button>
    </div>
    <div class="row">
      <app-radio-button></app-radio-button>
      <div class="col-3">
        <span class="label label-default">Effective Date</span>
        <input type="date" [min]="minDate" class="form-control mb-2 " style="width: 100%;"
          placeholder="Group Effective Date">

      </div>
      <app-radio-button></app-radio-button>
      <div class="col-3">
        <span class="label label-default">Sitius State</span>
        <select class="form-control">
          <!-- <option value="0" selected="selected">{{ lookupValue }}</option> -->
          <option [value]="lookupValue" *ngFor="let lookUpDataSitusState of lookUpDataSitusStates">
            {{lookUpDataSitusState.state}}</option>

        </select>
        <!-- <div *ngIf="lookupValue == ''">
      <span style="color: red;">  <small><strong>Select Payment Mode !</strong></small></span>
    </div> -->
      </div>

      <div class="container pt-4 pb-4">
        <div class="row">
          <h6 style="padding: 4px;">
            Riders
          </h6>
        </div>
        <div class="row mt-8">
          <div class="col">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" name="Qol">QOL Rider</mat-checkbox>
            <app-radio-button></app-radio-button>
          </div>

          <div class="col">
            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate" name="Waiver">Waiver</mat-checkbox>
            <app-radio-button></app-radio-button>
          </div>
        </div>
      </div>

   
      <app-radio-button></app-radio-button>
      <div class="col-3" style="margin-top: 15px;">
       
        <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Plan code manual Entry">
      </div>
    
     </div>




    <div class="container">
      
      <div class="row" style="margin-top: 10px;">
        
        <app-radio-button></app-radio-button>
        <div class="col-3">

          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->

          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Employee GI Amount Max">
        </div>



        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->

          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Employee QI Amount Max">
        </div>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->
          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Employee Max Amount">
        </div>
        <!-- <div class="col-3">
<app-radio-button></app-radio-button>  
</div> -->

      </div>

      <div class="row mt-2">
        <app-radio-button></app-radio-button>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->

          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Spouse GI Amount Max
            ">
        </div>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->
          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Spouse QI Amount Max">
        </div>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->
          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Spouse Max Amount">
        </div>

      </div>
      <div class="row mt-2">
        <app-radio-button></app-radio-button>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->

          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Child GI Amount Max">
        </div>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->
          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Child QI Amount Max">
        </div>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->
          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Child Max Amount">
        </div>

      </div>



      <div class="row mt-2">
        <app-radio-button></app-radio-button>
        <div class="col-3">
          <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->

          <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Open Enrollment GI">
        </div>


      </div>

    </div>
  </form>

  <app-agent-setup></app-agent-setup>