/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}


.text-muted {
  color: #999999 !important;
}

.red-snackbar{
  background: #FF9800;
  color: white;
  font-weight: 500;
}
.blue-snackbar{
  background: #428BCA;
  color: white;
  font-weight: 500;
}

.label {
  font-weight: 600;
}

select, option {
  cursor: pointer;
}
.mat-slide-toggle-checked{
  background-color: green !important;
}

.tooltip-red {
  background: #b71c1c;
}
.container-fluid{
  min-height: 100vh;
}