<div class="container" *ngIf="fppiData !== undefined">

  <form [formGroup]="fppiformgrp">
   
      <div class="row" style="justify-content:space-evenly;margin-right: 7%;">
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiEffectiveDate_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-3">
          <span class="label label-default">Product Effective Date</span>
          <input type="date" formControlName = "FCfppiEffectiveDate" class="form-control mb-2 " style="width: 100%;"
            placeholder="Group Effective Date">

        </div>
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiAgentSign_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-3">
          <span class="label label-default">Agent Signature</span>
          <input type="text" class="form-control mb-2" formControlName = "FCfppiAgentSign" style="width: 100%;" placeholder="Agent Signature">
        </div>
        <div class="mt-4">
          <button class="btn btn-primary" [disabled]=resetFlag (click) ="resetfpp()" type="submit">Reset Form </button>
        </div>
      </div>
  
      <div class="row" style="justify-content:space-evenly;margin-right: 7%;">

        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiEmpAmtMax_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-3">

          <span class="label label-default">Emp GI Amount Max($)</span>

          <input type="text" class="form-control mb-2" formControlName="FCfppiEmpGIAmtMax" style="width: 100%;" placeholder="Employee GI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>



        <div class="col-3">
          <span class="label label-default">Emp QI Amount Max($)</span>

          <input type="text" class="form-control mb-2" formControlName="FCfppiEmpQIAmtMax" style="width: 100%;" placeholder="Employee QI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-3">
          <span class="label label-default">Emp Max Amount($)</span>
          <input type="text" class="form-control mb-2" formControlName="FCfppiEmpAmtMax" style="width: 100%;" placeholder="Employee Max Amount"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
      
      </div>

      <div class="row mt-2" style="justify-content:space-evenly;margin-right: 7%;">
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiSpouseAmtMax_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-3">
          <span class="label label-default">Spouse GI Amount Max($)</span>

          <input type="text" class="form-control mb-2 " formControlName="FCfppiSpouseGIAmtMax" style="width: 100%;" placeholder="Spouse GI Amount Max
            "required
            onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-3">
          <span class="label label-default">Spouse QI Amount Max($)</span>
          <input type="text" class="form-control mb-2 " formControlName="FCfppiSpouseQIAmtMax" style="width: 100%;" placeholder="Spouse QI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>
        <div class="col-3">
          <span class="label label-default">Spouse Max Amount($)</span>
          <input type="text" class="form-control mb-2 " formControlName="FCfppiSpouseMaxAmt" style="width: 100%;" placeholder="Spouse Max Amount"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
        </div>

      </div>
      <div class="row mt-2" style="justify-content: space-evenly;margin-right: 7%;">
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiPlanCodeManualEntry_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-3">
          <span class="label label-default"> Employee Plan code</span>
          <input type="text" formControlName="FCfppiempPlanCode" class="form-control mb-2 " style="width: 100%;" placeholder="Plan code manual Entry">
        </div>
      
        <div class="col-3">
          <span class="label label-default"> Spouse Plan code </span>
          <input type="text" formControlName="FCfppiSpousePlanCode" class="form-control mb-2 " style="width: 100%;" placeholder="Plan code manual Entry">
        </div>
      
        <div class="col-3">
          <span class="label label-default"> Child Plan code</span>
          <input type="text" formControlName="FCfppiChildPlanCode" class="form-control mb-2 " style="width: 100%;" placeholder="Plan code manual Entry">
        </div>
      </div>



    
      <div class="row mt-2" style="justify-content:space-evenly;">
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiUserToken_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-4">

          <span class="label label-default">User Token</span>
          <input type="text" class="form-control mb-2 " formControlName="FCfppiUserToken" style="width: 100%;" placeholder="User Token">
        </div>

        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiCaseToken_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-4">
          <span class="label label-default">Case Token</span>
          <input type="text" class="form-control mb-2 " formControlName="FCfppiCaseToken" style="width: 100%;" placeholder="Case Token">
        </div>

      </div>
     
      <div class="row pt-2 pl-4">
        <h6>
          Riders
        </h6>
      </div>
      <div class="row mt-2" style="justify-content:space-evenly;">
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiQolRiders_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-2">
          <div class="row" style="justify-content:space-evenly;">
           
            <div class="col" style="justify-content:flex-start;margin-right: 170px;
            margin-top: 24px;">
              <mat-checkbox class="margin" [(ngModel)]="checked" formControlName="FCfppiQolRiders" name="Qol">QOL Rider</mat-checkbox>
            </div>
          </div>
        </div> 
        <div class="radio-button">
          <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCfppiWaiver_Action" />
            <label class="radio-label"> {{item.name}}</label></div>
        </div>
        <div class="col-2">
          <div class="row" style="justify-content:space-evenly;">
           
            <div class="col" style="margin-top: 24px;">
              <mat-checkbox class="margin" formControlName="FCfppiWaiver" [(ngModel)]="indeterminate" name="Waiver">Waiver</mat-checkbox>
            </div>
          </div>
        </div>

      </div>


   
      <div class="mt-4">
        <ng-content></ng-content>
       </div>

  </form>
  </div>