<div>
   
    <form>
        <!-- first-row -->
        <div class="row" style="justify-content:space-evenly;">
            <div class="col-md-3">
                <span class ="label label-default">Agent Number</span>
                <input type="text" name="text" [(ngModel)]="textv" (ngModalChange)="textv = $event" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Primary Agent Number"> 
                  
            </div>
            <div class="col-md-3">
                <span class ="label label-default">Agent SubCount</span>
                <input type="text" class="form-control mb-2" [value]="text"  style="width: 100%;" 
                    placeholder="Agent SubCount">
            </div>
            <div class="col-md-3">
                <span class ="label label-default">Commisson Split %</span>
                <input type="text" class="form-control mb-2 "  style="width: 100%;" 
                    placeholder="Commisson Split">
            </div>

            <div class="col-md-3">
                <span class ="label label-default">Agent Name</span>
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Agent Name">
            </div>
          
        </div>
       
        
       
        <!-- second-row -->
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Agent Number">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Agent SubCount">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Commisson Split">
            </div>
            <!-- <div class="col-md-3">
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Agent Name">
            </div> -->
        </div>
        <!-- 3rd-row -->
        <div class="row" >
            <div class="col-md-3">
                <input type="text" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Agent Number">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Agent SubCount">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Commisson Split">
            </div>
            <!-- <div class="col-md-3">
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Agent Name">
            </div> -->
        </div>
        <!-- 4th-row -->
        <div class="row" >
            <div class="col-md-3">
                <input type="text" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Agent Number">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control mb-2" style="width: 100%;" 
                    placeholder="Agent SubCount">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Commisson Split">
            </div>
            <!-- <div class="col-md-3">
                <input type="text" class="form-control mb-2 " style="width: 100%;" 
                    placeholder="Agent Name">
            </div> -->
        </div>
    </form>
</div>