
<div class="container">
    <!-- Group Number Section-->
    <form (ngSubmit)="onSubmit(form, userData)" #form="ngForm">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="groupNumber" class="label">Group Number<span aria-hidden="true" class="required">*</span></label>
                <input type="text" id="groupNumber" class="form-control" [(ngModel)]="userData.groupNumber"
                    name="groupNumber" required placeholder="Enter Group Number">
                <div *ngIf="userData.groupNumber==''" class="alert" style="color:red;padding:0px">Group Number is required</div>
            </div>


            <div class="form-group col-md-4">
                <label for="product" class="label">Product Name<span aria-hidden="true" class="required">*</span></label>
                <select id="product" class="form-control" [(ngModel)]="userData.product" name="product" required>
                    <option selected>Select a Product</option>
                    <option *ngFor="let i of productsList">
                        {{i.productNm}}</option>
                </select>
                <div *ngIf="userData.product==''" class="alert" style="color:red;padding:0px">Product Name is required</div>
            </div>
            <div class="col-md-4" style="margin-top: 30px;">
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
            </div>
        </div>
    </form>
    <div class="alert alert-success alert-dismissible" *ngIf="successMsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> 
        Custom Template added Successfully.
    </div>
    <!-- Product Custom File Section  -->
    <div *ngIf="selectedProduct">
        <div class="card mt-2" style="cursor: pointer;">
            <div class="card-header mb-2">
                <a class="card-title label">
                    {{selectedProduct}}
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="field-container col-md-5">
                        <p class="label">Available Fields</p>

                        <div cdkDropList #availableFieldsList="cdkDropList" [cdkDropListData]="availableFields"
                            [cdkDropListConnectedTo]="[selectedFieldsList]" class="fields-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="field-box" *ngFor="let item of availableFields" cdkDrag>{{item.displyAttrNm}}
                            </div>
                        </div>
                    </div>
                    <div style="display: inline-block;margin-right: 25px;" class="col-md-1">
                        <img src="assets/img/drag-drop.PNG" style="padding-top: 220px;">
                    </div>
                    <div class="field-container col-md-5">
                        <p class="label"><span>Selected Fields</span><span style="float: right;">Required?</span></p>
                        <div cdkDropList #selectedFieldsList="cdkDropList" [cdkDropListData]="selectedFields"
                            [cdkDropListConnectedTo]="[availableFieldsList]" class="fields-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="field-box" *ngFor="let item of selectedFields; let i=index;" cdkDrag>
                                {{item.displyAttrNm}}
                                <input type="checkbox" name="selectedFields" [(ngModel)]="item.rqdFlg"
                                    (change)="updateCheckedOptions(item, $event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float: right;">
            <button type="button" class="btn btn-success mt-4 mb-4 mr-4" (click)="saveLayout()">Save Custom Layout</button>
            <button type="button" class="btn btn-success mt-4 mb-4" (click)="exportAsXLSX()">Generate
                Custom Layout</button>
        </div>
    </div>
    
</div>