<div class="container" style="width: 100%;" *ngIf="volCiData !== undefined">

  <form [formGroup]="volCIformgrp">
    <div class="row" style="justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCIEffectiveDate_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Product Effective Date</span>
        <input type="date" formControlName="FCVolCIEffectiveDate"
          class="form-control mb-2 " style="width: 100%;" placeholder="Group Effective Date">

      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCISitusState_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Situs State</span>
        <select class="form-control" formControlName="FCVolCISitusState">
          <!-- <option hidden disabled selected value> -- select Situs State -- </option> -->
          <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates"  [selected]="lookUpDataSitusState.id==volCiSitus"
          value={{lookUpDataSitusState.id}}>
            {{lookUpDataSitusState.state}}</option>

        </select>
        <!-- <div *ngIf="lookupValue == ''">
          <span style="color: red;">  <small><strong>Select Payment Mode !</strong></small></span>
        </div> -->
      </div>
      <div class="mt-4">
        <button class="btn btn-primary" [disabled]=resetFlag (click) = "volcireset()" type="submit">Reset Form </button>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;justify-content:space-evenly;margin-right: 7%;">

      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCIEmpGIAmtMax_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">

        <span class="label label-default">Employee GI Amount Max($)</span>

        <input type="text" class="form-control mb-2 " formControlName="FCVolCIEmpGIAmtMax" style="width: 100%;"
          placeholder="Employee GI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>

      <div class="col-3">
        <span class="label label-default"> Employee QI Amount Max($)</span>

        <input type="text" class="form-control mb-2 " formControlName="FCVolCIEmpQIAmtMax" style="width: 100%;"
          placeholder="Employee QI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
      <div class="col-3">
        <span class="label label-default">Employee Max Amount($)</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCIEmpAmtMax" style="width: 100%;"
          placeholder="Employee Max Amount"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
    </div>
    <div class="row mt-2" style="margin-top: 10px;justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCISpouseAmtMax_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Spouse GI Amount Max($)</span>

        <input type="text" class="form-control mb-2 " formControlName="FCVolCISpouseGIAmtMax" style="width: 100%;"
          placeholder="Spouse GI Amount Max
              "required
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
      <div class="col-3">
        <span class="label label-default">Spouse QI Amount Max($)</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCISpouseQIAmtMax" style="width: 100%;"
          placeholder="Spouse QI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
      <div class="col-3">
        <span class="label label-default">Spouse Max Amount($)</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCISpouseAmtMax" style="width: 100%;"
          placeholder="Spouse Max Amount"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>

    </div>
    <div class="row mt-2" style="margin-top: 10px;margin-left: 7px;;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCIChildAmtMax_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4" style="margin-left: 20px;">
        <span class="label label-default">Child GI Amount Max($)</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCIChildGIAmtMax" style="width: 100%;"
          placeholder="Child GI Amount Max"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>

      <!-- <div class="col-3">
        <span class="label label-default">Child QI Amount Max</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCIChildQIAmtMax" style="width: 100%;"
          placeholder="Child QI Amount Max">
      </div> -->

      <div class="col-4">
        <span class="label label-default">Child Max Amount($)</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCIChildAmtMax" style="width: 100%;"
          placeholder="Child Max Amount"required
          onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>


    </div>
    <div class="row mt-2" style="margin-top: 10px;justify-content:space-evenly;margin-right: 7%;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCIPlanCodeManualEntry_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-3">
        <span class="label label-default">Employee Plan code</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCIEmpPlanCode" style="width: 100%;"
          placeholder="Employee Plan code">
      </div>

      <div class="col-3">
        <span class="label label-default">Spouse Plan Code</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCISpousePlanCode" style="width: 100%;"
          placeholder="Spouse Plan Code">
      </div>

      <div class="col-3">
        <span class="label label-default">Child Plan code</span>
        <input type="text" class="form-control mb-2 " formControlName="FCVolCIChildPlanCode" style="width: 100%;"
          placeholder="Child Plan code">
      </div>


    </div>

   

    <!-- <div class="row mt-2" style="justify-content:space-evenly;">
      <div class="radio-button">
        <div><input id="gender" type="radio" (change)="onItemChange($event.target.value)" value="Always Override"
            formControlName="FCVolCIOpenEnrollGI_Action" />
          <label class="radio-label"> Always Override</label></div>
        <div><input id="gender" type="radio" (change)="onItemChange($event.target.value)" [checked]="true"
            value="Update if Blank" formControlName="FCVolCIOpenEnrollGI_Action" />
          <label class="radio-label">Update if Blank</label></div>
        <div><input id="gender" type="radio" (change)="onItemChange($event.target.value)" value="Validate"
            formControlName="FCVolCIOpenEnrollGI_Action" />
          <label class="radio-label">Validate</label></div>
      </div>
      <div class="col-4">

        <span class="label label-default">Open Enrollment GI</span>
        <input type="text" formControlName="FCVolCIOpenEnrollGI" class="form-control mb-2 " style="width: 100%;"
          placeholder="Open Enrollment GI">
      </div>

    </div> -->

    <div class="row pt-2 pl-4">
      <h6>
        Tobacco/Non
        Options
      </h6>
    </div>
    <div class="row mt-2" style="justify-content:space-evenly;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCIEmpNTB_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4">
        <div class="row" style="justify-content:space-evenly;">
          <div class="col" style="margin-left: -16px;">
          </div>
          <div class="col" style="justify-content:flex-start;margin-right: 170px;margin-top: 24px;">
            <mat-checkbox class="margin" formControlName="FCVolCIEmpNTB" [(ngModel)]="checked" name="EmployeeNTB">
              Employee NTB</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCIEmpTB_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4 pb-4">
        <div class="row" style="justify-content:space-evenly;">
          <div class="col" style="margin-left: -147px;">
          </div>
          <div class="col" style="margin-top: 24px;">
            <mat-checkbox class="margin" formControlName="FCVolCIEmpTB" [(ngModel)]="indeterminate" name="EmployeeTB">
              Employee TB</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2" style="justify-content:space-evenly;">
      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCISpouseNTB_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4">
        <div class="row" style="justify-content:space-evenly;">
          <div class="col" style="margin-left: -16px;">
          </div>
          <div class="col" style="justify-content:flex-start;margin-right: 170px;margin-top: 24px;">
            <mat-checkbox class="margin" formControlName="FCVolCISpouseNTB" [(ngModel)]="checked1"
              name="SpouseNTB">Spouse NTB</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="radio-button">
        <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCVolCISpouseTB_Action" />
          <label class="radio-label"> {{item.name}}</label></div>
      </div>
      <div class="col-4">
        <div class="row" style="justify-content:space-evenly;">
          <div class="col" style="margin-left: -147px;">
          </div>
          <div class="col" style="margin-top: 24px;">
            <mat-checkbox class="margin" formControlName="FCVolCISpouseTB" [(ngModel)]="indeterminate1" name="SpouseNTB">
              Spouse TB</mat-checkbox>
          </div>
        </div>
      </div>

    </div>

    <div class="mt-4">
      <ng-content></ng-content>
     </div>
  </form>
</div>