<div class="container" *ngIf="hiData !== undefined">
  <form [formGroup]="hospformgrp">
  <div class="row" style="justify-content:space-evenly;margin-right: 7%;">
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FChospEffectiveDate_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">Product Effective Date</span>
      <input type="date" [value]="latest_datehospitalindemnity" class="form-control mb-2 " style="width: 100%;"
        placeholder="Group Effective Date" formControlName="FChospEffectiveDate">

    </div>
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FChospSitusState_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">Situs State</span>
      <select class="form-control" formControlName = "FChospSitusState">
        <!-- <option hidden disabled selected value> -- select Situs State -- </option> -->
        <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates"  [selected]="lookUpDataSitusState.id==hiStatus"
        value={{lookUpDataSitusState.id}}>
          {{lookUpDataSitusState.state}}</option>

      </select>

    </div>
    <div class="mt-4">
      <button class="btn btn-primary" [disabled]=resetFlag type="submit" (click) = "hospitalindemnity()">Reset Form </button>
    </div>

  </div>
  <div class="row pb-2"  style="padding-left: 20px;">
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FChospRateLevel_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-4 mb-2">
      <span class="label">  Rate Level</span>
      <select class="form-control" formControlName="FChospRateLevel">
        <option *ngFor="let names of Rate" value={{names.no}}>
          {{ names.abb }} 
        </option>
      </select>
    </div>
  </div>
  <div class="row pb-2" style="padding-left: 6px;">
    <div class="col-2">
      <input type="checkbox"  formControlName="FchospChildName" [checked]="ch_fname_01"> Child Name
    </div>
   
    <div class="col-3">
      <input type="checkbox" formControlName="FchospChildDOB" [checked]="ch_dob_01"> Child Date of Birth
    </div>
    
    <div class="col-2">
      <input type="checkbox" formControlName="FchospChildGender" [checked]="ch_gndr_01"> Child Gender
    </div>
  </div>
  <div class="row pb-2 " style="padding-left: 6px;">
    
    <div class="col-2">
      <input type="checkbox"  formControlName="FchospSpouseName" [checked]="sp_fname"> Spouse Name
    </div>
   
    <div class="col-3">
      <input type="checkbox" formControlName="FchospSpouseDOB" [checked]="sp_dob"> Spouse Date of Birth
    </div>
    
    <div class="col-2">
      <input type="checkbox" formControlName="FchospSpouseGender" [checked]="sp_gndr"> Spouse Gender
    </div>
  </div>
  <div class="mt-4">
    <ng-content></ng-content>
   </div>
  </form>
</div>