<div class="container" *ngIf="hiData !== undefined">
  <form [formGroup]="hospformgrp">
  <div class="row" style="justify-content:space-evenly;margin-right: 7%;">
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FChospEffectiveDate_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">HI Effective Date</span>
      <input type="date" class="form-control mb-2 " style="width: 100%;"
        placeholder="Group Effective Date" formControlName="FChospEffectiveDate">

    </div>
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FChospSitusState_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">Situs State</span>
      <select class="form-control" formControlName = "FChospSitusState">
        <!-- <option hidden disabled selected value> -- select Situs State -- </option> -->
        <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates"  [selected]="lookUpDataSitusState.id == lookupValue" 
        value={{lookUpDataSitusState.id}}>
          {{lookUpDataSitusState.state}}</option>

      </select>

    </div>
    <div class="mt-4">
      <button class="btn btn-primary" type="submit" (click) = "hospitalindemnity()">Reset Form </button>
    </div>
  </div>



  <div class="mt-4">

    <ng-content></ng-content>
    <!-- <div class="mt-4">
      <mat-checkbox class="margin" [(ngModel)]="name">Child Name</mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="dob">Child Date of Birth </mat-checkbox>
      <mat-checkbox class="margin" [(ngModel)]="gender">Child Gender</mat-checkbox>
    </div> -->

  </div>
  <div class="mt-4">
    <ng-content></ng-content>
   </div>
  </form>
</div>