
    <div class="container">
      <div class="row">
        <div class="col-3">
          <span class ="label label-default">Hospital Indemnity Effective Date
            </span>
            <input type="date" class="form-control mb-2 " style="width: 100%;" id=""
              placeholder="Hospital Indemnity Effective Date">
        
        </div>
          
            <div class="col-3">
              <span class ="label label-default"> Hospital Situs State</span>
              <select class="form-control " id="inlineFormCustomSelectPref">
                <option selected>Select Situs State</option>
                <option value="1"> Hospital Situs State</option>
              </select>
            </div>
        </div>
  
     
    </div>
    <app-agent-setup></app-agent-setup>





