
<div class="container" style="width: 100%;" *ngIf="empCiData !== undefined">
  <form [formGroup]="empCIformgrp">
  <div class="row" style="justify-content:space-evenly;margin-right: 7%;"> 
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCempCIEffectiveDate_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">EMP Paid CI Effective Date</span>
      <input type="date" class="form-control mb-2 " style="width: 100%;"
      formControlName="FCempCIEffectiveDate" placeholder="Group Effective Date">

    </div>
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCempCISitusState_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">Situs State</span>
      <select class="form-control" formControlName="FCempCISitusState">
        <!-- <option value="0" selected="selected">{{ lookupValue }}</option> -->
        <option *ngFor="let lookUpDataSitusState of lookUpDataSitusStates"  value={{lookUpDataSitusState.state}}>
          {{lookUpDataSitusState.state}}</option>

      </select>

    </div>
    <div class="mt-4">
      <button class="btn btn-primary" (click) = "resetEmpCi()"type="submit">Reset Form </button>
    </div>
  </div>


  <div class="row mt-4" style="justify-content:space-evenly; margin-right: 7%; ">
     <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCempCISpouseFcAmt_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-4">

      <span class="label label-default">Spouse Standard Face
        Amount</span>
      <input type="text" class="form-control mb-2 " formControlName="FCempCISpouseFcAmt" style="width: 100%;" placeholder="Spouse Standard Face Amount">
    </div>

    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCempCIEmpFcAmt_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class="col-4">
      <span class="label label-default">Employee Standard Face
        Amount</span>

      <input type="text" class="form-control mb-2 " style="width: 100%;" formControlName="FCempCIEmpFcAmt" placeholder="Employee Standard Face Amount">
    </div>

    <!-- <div class="radio-button">
      <div><input id="gender" type="radio" (change)="onItemChange($event.target.value)" value="Always Override"
          formControlName="FCempCIChdFcAmt_Action" />
        <label class="radio-label"> Always Override</label></div>
      <div><input id="gender" type="radio" (change)="onItemChange($event.target.value)" [checked]="true"
          value="Update if Blank" formControlName="FCempCIChdFcAmt_Action" />
        <label class="radio-label">Update if Blank</label></div>
      <div><input id="gender" type="radio" (change)="onItemChange($event.target.value)" value="Validate"
          formControlName="FCempCIChdFcAmt_Action" />
        <label class="radio-label">Validate</label></div>
    </div>
    <div class="col-3">
      <span class="label label-default">Child Standard Face Amount</span>
      <input type="text" class="form-control mb-2 " formControlName="FCempCIChdFcAmt" style="width: 100%;" placeholder="Child Standard Face Amount">
    </div> -->


  </div>

  <div class="row mt-4" style="justify-content:space-evenly; margin-right: 7%;">
    <div class="radio-button">
      <div *ngFor="let item of radioButtonArr"><input type="radio" value={{item.value}} formControlName="FCempCIPlanCode_Action" />
        <label class="radio-label"> {{item.name}}</label></div>
    </div>
    <div class=" col-3">
      <span class="label label-default">Employee Plan Code </span>
      <input type="text" class="form-control mb-2 " formControlName="FCempCIEMPPlanCode" style="width: 100%;" placeholder=" Employee Plan Code ">
    </div>
   
    <div class="col-3">
      <span class="label label-default"> Spouse Plan Code</span>
      <input type="text" class="form-control mb-2 " formControlName="FCempCISpouseFcAmt" style="width: 100%;" placeholder="Spouse Plan Code">
    </div>

    <div class="col-3">
      <span class="label label-default"> Child Plan Code</span>
      <input type="text" class="form-control mb-2 " formControlName="FCempCIChdFcAmt" style="width: 100%;" placeholder="Child Plan Code">
    </div>
  </div>
 
  <div class="mt-4">
    <ng-content></ng-content>
   </div>
  </form>
</div>
  