<div class="container">
  <div class="row">
    <div class="col-3">
      <span class="label label-default">Date</span>
      <input type="date" [min]="minDate" class="form-control mb-2 " style="width: 100%;" placeholder="Employer Paid CI Effective
          Date">
    </div>

    <div class="col-3">
      <span class="label label-default"> Employer Paid Ci Situs
        State</span>
      <select class="form-control"  id="inlineFormCustomSelectPref">
        <option hidden disabled selected value> -- select Situs State -- </option>
        <option selected *ngFor="let lookUpDataSitusState of lookUpDataSitusStates">{{ lookUpDataSitusState }}</option>
      </select>
      <!-- <div *ngIf="lookupSitusState == ''">
        <span style="color: red;">  <small><strong>Select Situs State!</strong></small></span>
      </div> -->
    </div>
   
      <div class="col-3">
        <input type="text" class="form-control mb-2" style="width: 100% ;margin-top: 23px;" 
        placeholder="Plan Code">
       
        </div>
        <div class="col-3" style="margin-top: 18px;">
          <app-radio-button></app-radio-button>  
        </div>
      
  </div>
  
</div>
<div class="row" style="margin-left: 1px;">

  <div class="col-3">
    <!-- <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked> -->

    <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Spouse Standard Face
                      Amount
                      ">
  </div>
  <div class="col-3">
   
    <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Employee Standard Face
                      Amount">
  </div>
  <div class="col-3">

    <input type="text" class="form-control mb-2 " style="width: 100%;" placeholder="Child Standard Face Amount">
  </div>

  <app-agent-setup></app-agent-setup>

</div>