<table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee SOH Questions</th>
        <th>Answer</th>
        <th>Spouse SOH Questions</th>
        <th>Answer</th>
        <th>Child SOH Questions</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
        <!-- First row-->
      <tr>
        <td>Question 1A</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 1A</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 1A</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- Second row-->
      <tr>
        <td>Question 1B</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 1B</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 1B</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
     <!--Third row-->
     <tr>
        <td>Question 2</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 2</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 2</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- Fourth row-->
      <tr>
        <td>Question 3</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 3</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 3</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!-- fifth row-->
      <tr>
        <td>Question 4</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1E">
                <label for="customCheck1E" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 4</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1S">
                <label for="customCheck1S" style="margin-left: 2px;">Y</label>
            </div>
        </td>
        <td>Question 4</td>
        <td>
            <div style="text-align: center;">
                <input type="checkbox" id="customCheck1C">
                <label for="customCheck1C" style="margin-left: 2px;">Y</label>
            </div>
        </td>
      </tr>
      <!---->
      <tr>
          <td><app-radio-button></app-radio-button></td>
          <td></td>
          <td><app-radio-button></app-radio-button></td>
          <td></td>
          <td><app-radio-button></app-radio-button></td>
          <td></td>
      </tr>

    </tbody>
</table>
