<div class="footer mt-4" >
    <div class="footer-inner">
        <div class="footer-content">
           <p>©
               <span id="copyright-year">2020</span>
               <script>document.getElementById('copyright-year').textContent = new Date().getFullYear().toString();</script>
               5Star Life Insurance Company, an AFBA related enterprise
           </p>
        </div>
    </div>
</div>

<!-- <footer>
    <p>©
        <span id="copyright-year">2020</span>
        <script>document.getElementById('copyright-year').textContent = new Date().getFullYear().toString();</script>
        5Star Life Insurance Company, an AFBA related enterprise
    </p>
</footer> -->
